//This file you will create your mixins inside of the project

@mixin boton_personalizado($paddings,$width, $radius:0) 
{
    background-color: $nickel ;
    padding: $paddings;
    width: $width;
    color: $white;

    @if ($radius!=0) {
        border-radius: $radius;
    }

    &:hover{
        background-color: $light-gray ;
    }

    &:focus{
        border: 1px solid $platinum;
    }
}


// MIXIN PARA CAMBIO DE PANTALLA A MOVIL
@mixin media($media) {
    // SEPARADO POR DIFERENTES PANTALLAS
    @if $media == xs {
        @media (max-width: $breakpoint-sm) { @content; }
      }
      @else if $media == sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
      }
      @else if $media == md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
      }
      @else if $media == lg {
        @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xlg) { @content; }
    }
  }