//variables

//colors
$white: #fff !default;
$platinum: #e6e7e7 !default;
$light-gray: #d1d1d1 !default;
$fuzzy-wuzzy: #e56353 !default;
$ruddy-pink:#d76c69 !default;
$spanich-pink: #ecbcba !default;
$eeerie-black: #121619 !default;
$raisin-black:#222323 !default;
$nickel: #6c6e70 !default;
// COLORS NOT INCLUDED
$line_borde:#707071;
$link_active:#dE8684;
$borde_pag: #ddd;

// FONT SIZE
$font-xx-large:70px;
$font-x-large:30px;
$font-large: 18px;
$font-medium: 16px;
$font-mall: 12px;
// FONT NOT INCLUDED
$font-40: 40px;
$font-14: 14px;

// FONT FAMILY
$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', serif;


// FONT WEIGH
$font-black: 900; //Black Italic
$font-regular:400;
$font-light:300;
