/*CLASE PARA DEFINIR PIE DE PAGINA Y SU IMAGEN*/

footer{

    background-color: $eeerie-black;
    padding: 2rem 0;
    text-align: center;

    img{
        width: 122px;
        @media (max-width: 576px) { 
            width: 81px;
        }
    }
}

