/*CLASE PARA EL HEADER*/
// Color de fondo del cabecera
.header{
    background-color: $eeerie-black;
    // tamaño de imagen y cambia para movil
    img{
        width: 4.898rem;
        @media (max-width: 576px) { 
            width: 5.063rem;
        }
    }
}